
/*                  -------------Layout #1----------------

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navigation > ul{
    
    grid-column-start: 1;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navigation > ul{
    
    grid-column-start: 3;
}
.links > ul{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%
}
*/

/*           --------------Layout #2---------------
.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navigation > ul{
    
    grid-column-start: 3;
}
*/


/*             ---------Layout #3 (header on bottom, footer on top, etc)------------


body
{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

header
{
  grid-row-start: 3;
  grid-column-start:1;
  grid-column-end:4;
}

.navigation
{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

article
{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.links
{
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

footer
{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}
.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.links > ul{
    grid-column-start: 3;
}
*/

/*              ------------Layout #4 ------------------- 

body
{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

header
{
  grid-row-start: 1;
  grid-column-start:1;
  grid-column-end:4;
}

.navigation
{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

article
{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.links
{
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

footer
{
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

main article p:nth-of-type(2)
{
  color: red;
}



*/

